<footer class="mt-8 bg-gray-200 dark:bg-gray-900 py-8 flex-shrink-0">
  <div class="max-w-screen-sm md:max-w-screen-md mx-auto px-8">
    <p class="text-sm py-2 text-right">
      {% if site.github != "" %}
        <a href={{ site.github }}>This was built with 11ty and tailwind. And works even with Javascript disabled.</a> 
      {% endif %}

      {% if site.linkedin != "" %}
        &middot; <a href={{ site.linkedin }}>LinkedIn</a>
      {% endif %}

      {% if site.twitter != "" %}
        &middot; <a href={{ site.twitter }}>Twitter</a>
      {% endif %}

    </p>
  </div>
</footer>