<nav>
  <ul class="flex py-2 border-b-2 mb-6">
    <li class="mr-6"><a href="{{ '/' | url }}">Home</a> <!-- i18n-TODO: Translate 'Home' --></li>
    <li class="mr-6"><a href="{{ '/tags/press/' | url }}">Press</a> <!-- i18n-TODO: Translate 'Press' --></li>
    <li class="mr-6"><a href="{{ '/about/' | url }}">About</a> <!-- i18n-TODO: Translate 'About' --></li>
    <li class="mr-6"><span class="cursor-pointer" id="toggleDarkMode">Dark mode</span> <!-- i18n-TODO: Translate 'Dark mode' --></li>
  </ul>
</nav>